@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100px);
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    transform: scale(1);
  }
}

.info {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 40px;
  right: 10px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  padding: 15px;
  padding-right: 10px;
  width: 300px;
  box-shadow: 0 4px 12px rgb(0 0 0 / 25%);
  animation-name: fadeIn;
  animation-duration: 500ms;
}

.info > span {
  width: 85%;
  font-size: 14px;
}

.close-button:hover {
  background-color: whitesmoke;
  border-radius: 5px;
}
